##############################################
# OVH / Apache Config - SPA + assets
##############################################

Options -Multiviews

# Types MIME explicites
AddType application/javascript .js
AddType text/css .css
AddType image/svg+xml .svg
AddType application/json .json

# Redirection et réécriture
RewriteEngine On

# Servir les fichiers et dossiers existants directement
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Fallback SPA : renvoyer index.html pour tout le reste
RewriteRule . /index.html [L]

##############################################
# Fin .htaccess
##############################################
